@media print {

    .noprint,
    .noprint * {
        display: none !important;
    }

    .a4border {
        border: 0px !important;
        background-color: #aaa !important;
    }

    .roleGrid {
        break-inside: avoid;
    }

    .rolePamphlet {
        break-inside: avoid;
    }
}

.a4border {
    box-sizing: border-box;
    width: 11in;
    break-after: a4border;

}

.selected {
    font-weight: bold;
}

.roleGrid {
    border: 1px solid;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 324px;
    width: 230px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    h2 {
        margin: 0px 5px;
        float: left;
        border-right: 1px solid;
        padding-right: 10px;

    }

    h3.roleInfo {
        margin: 5px 20px 0 0;
        font-size: 0.6rem;
    }
}

.pageInfo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.roles {
    display: flex;
    flex-direction: column;
    width: 100%;

    .roleRow {
        display: flex;
        justify-content: space-around;
    }

    .role {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        width: 75px;
        text-align: center;




        .deselected {
            border-radius: 5px;
            filter: blur(7px) brightness(75%);

            h3 {
                font-size: 0;
            }
        }

        img {
            height: 75px;
            width: 75px;
            margin: 0px;
            margin-top: -10px;
            padding: 0px;
        }

        h3 {
            padding: 0px;
            margin: 0;
            height: 22px;
            margin-top: -15px;
            font-size: 0.6rem;
            text-wrap-mode: wrap;
        }
    }

}

.rolePamphlets {
    display: flex;
    flex-wrap: wrap;
    height: 29.7cm;
    width: 21cm;
    padding: 0px 25px;
}

.rolePamphlet {
    flex: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 5.8in;
    width: 4.1in;
    border: 1px solid #000;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;
    background-image: url('./img/bmr_filtered.png');
    backdrop-filter: brightness(90%);

    img {
        width: 150px;
        height: 150px;
    }
}